.restaurants {
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $brand-text;
    padding-left: 12px;
  }
  &__item {
    padding: 8px;
    border-radius: 10px;
    background: $brand-light;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
