/* Font Library */
@font-face {
  font-family: 'Cera';
  src: url('../fonts/light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera';
  src: url('../fonts/black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cera", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: var(--app-height);

  &.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

body.popup .app {
  transform: scale(0.97);
}

@mixin responsive($media) {
  @media only screen and (max-width: $media) { @content; }
}
