// Variables
// --------------------------------------------------


// == Colors
// ## Theme default colors

$brand-warning:         #FEEBC1 !default;
$brand-light:           #F1F2F6 !default;

$brand-text:            #0C0D0D !default;
$brand-text-light:      #292B2C !default;
$brand-border:          #F1F1F1 !default;

// == Breakpoints
// ## Theme breakpoint size

$breakpoint-xs:         0 !default;
$breakpoint-sm:         576px !default;
$breakpoint-md:         768px !default;
$breakpoint-lg:         992px !default;
$breakpoint-xl:         1200px !default;
